<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingzaoreading.dao.PlayingMapper" >
  <resultMap id="BaseResultMap" type="com.qingzaoreading.pojo.po.Playing" >
    <id column="playing_id" property="playingId" jdbcType="BIGINT" />
    <result column="video_id" property="videoId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qingzaoreading.pojo.po.Playing" extends="BaseResultMap" >
    <result column="picture_url" property="pictureUrl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    playing_id, video_id
  </sql>
  <sql id="Blob_Column_List" >
    picture_url
  </sql>
  
  <!-- List<Playing> getCarousel()  -->
    <select id="getCarousel" resultType="com.qingzaoreading.pojo.po.Playing" >
    select
    *
    from playing;
  </select>
  
  
  
  
  
  
  
  
  
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.qingzaoreading.pojo.po.PlayingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from playing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  
  
  
  
  
  
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qingzaoreading.pojo.po.PlayingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from playing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from playing
    where playing_id = #{playingId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from playing
    where playing_id = #{playingId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qingzaoreading.pojo.po.PlayingExample" >
    delete from playing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qingzaoreading.pojo.po.Playing" >
    insert into playing (playing_id, video_id, picture_url
      )
    values (#{playingId,jdbcType=BIGINT}, #{videoId,jdbcType=BIGINT}, #{pictureUrl,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qingzaoreading.pojo.po.Playing" >
    insert into playing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="playingId != null" >
        playing_id,
      </if>
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="playingId != null" >
        #{playingId,jdbcType=BIGINT},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=BIGINT},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qingzaoreading.pojo.po.PlayingExample" resultType="java.lang.Integer" >
    select count(*) from playing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update playing
    <set >
      <if test="record.playingId != null" >
        playing_id = #{record.playingId,jdbcType=BIGINT},
      </if>
      <if test="record.videoId != null" >
        video_id = #{record.videoId,jdbcType=BIGINT},
      </if>
      <if test="record.pictureUrl != null" >
        picture_url = #{record.pictureUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update playing
    set playing_id = #{record.playingId,jdbcType=BIGINT},
      video_id = #{record.videoId,jdbcType=BIGINT},
      picture_url = #{record.pictureUrl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update playing
    set playing_id = #{record.playingId,jdbcType=BIGINT},
      video_id = #{record.videoId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingzaoreading.pojo.po.Playing" >
    update playing
    <set >
      <if test="videoId != null" >
        video_id = #{videoId,jdbcType=BIGINT},
      </if>
      <if test="pictureUrl != null" >
        picture_url = #{pictureUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where playing_id = #{playingId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qingzaoreading.pojo.po.Playing" >
    update playing
    set video_id = #{videoId,jdbcType=BIGINT},
      picture_url = #{pictureUrl,jdbcType=LONGVARCHAR}
    where playing_id = #{playingId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingzaoreading.pojo.po.Playing" >
    update playing
    set video_id = #{videoId,jdbcType=BIGINT}
    where playing_id = #{playingId,jdbcType=BIGINT}
  </update>
</mapper>